:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.view-link{
  font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    margin: 160px;
    line-height: normal;
    border-radius: 4px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
    padding: 20px 15px;
}
.project-final h2{
  color: #000;
font-family: Playfair Display;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: -20px;
}
.project-final{
  margin: 127px 67px 5px 127px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}


.fa:hover {
  opacity: 0.7;
}


.fa-facebook {
  color: #3B5998;
}

.fa-linkedin {
  color: #3B5998;
}
.fa-instagram {
  color: #3B5998;
}
.social-icon{
  margin: 2px 5px 28px 300px;
}
.content h1{
  color: #000;
font-family: Playfair Display;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.content h3{
  color: #272142;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.content p{
  color: rgba(39, 33, 66, 0.70);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.watch-link{
  font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    border-radius: 4px;
    padding: 15px 30px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
}
.description h2{
color: #000;
font-family: Playfair Display;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 250px 600px 250px 144px;
}
.new-container {
    padding: 160px 20px;
}
=======
@media (max-width:600px) {
  .responsive{
    width: 100%;
    height: auto;
  }
}
>>>>>>> 40b9b9f365856ac38e6a5c576db43b0b55957e9c
